
<!DOCTYPE html>
<html>
  <style>
    body {
      display: flex;
      justify-content: center;
      height: 100vh;
      margin: 0;
    }
  </style>
  <body>
    <main>
      <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <h1>LO Calculator</h1>

      <section>
        <p>Calculate qualification for your clients without triggering PENCIL</p>
        <h2> Client Name </h2>
        <p>{{client_name}}</p>

              <section>

        <h2> Credit </h2>
            <p> Credit Score: {{credit_score}} </p>
            <p> ** this is only an estimate and may not be an accurate</p>
            <p>    score for qualification **</p>
                            <p> For more information on how credit pulls can impace your clients' scores
            <a href="https://www.forbes.com/advisor/credit-score/soft-credit-check-vs-hard-credit-check/"
               target="_blank">click here</a>
            </p>
      </section>

        <h3>Max Purchase Price:</h3>
          <p>    Max Price: ${{purchase_price}}</p>

        <h3>Down Payment:</h3>
          <p>    Amount:    ${{down}}</p>
          <p>    Percent:   % {{down_percent}}</p>
      </section>
    </main>
  </body>
</html>
